{% extends "base.html" %}
{% block content %}
<div>
  <h1>洋服リスト</h1>
</div>
<div class="f-container">
  {% for lists in all_lists %}
    <div class="f-item">
      <h3>洋服{{ lists.id }}</h3>
      <a class="f-item-a" href="/{{ lists.id }}/update" role="button">編集</a>
      <a class="f-item-a" href="/{{ lists.id }}/delete" role="button">削除</a><br>
      <a href="/{{ lists.id }}/impression"><img id="image1" src="{{ lists.images }}" alt="洋服の写真"></a>
      <p> 色名：{{ lists.color_name }}</p>
      <p>登録日時：{{ lists.created_at }}</p>
    </div>
  {% endfor %}
</div>
<!-- <a href="/color_result">前ページへ</a> -->
<!-- <a href="/impression">印象選択</a> -->
{% endblock %}
